/* nav  */
.nav{
    min-width:1214px;
    height:37px;
    line-height:37px;
    background: #f5f5f5; 
 }
 .nav-little{
     width:1200px;
     height:37px;
     line-height:37px;
     margin:0 auto;
     background: #f5f5f5;
 }
 .nav-fl{
     float:left;
 }
 .nav-fl-span{
     display:block;
     height:34px;
     line-height:34px;
     font-size: 12px;
     color:#666;
 }
 .nav-fr{
     height:34px;
     line-height:34px;
     float:right;
 }
 .li-first{
     float:left;
     height:37px;
 }
 .li-first-a{
     padding:0 12px;
     box-sizing: border-box;
     font-size: 12px;
     color:#666;
     border-right: 1px solid #dbdbdb;
 }
 .li-first-last-a{
     border-right:0;
     border-left: 1px solid #dbdbdb;
 }
 .nav-ul-second{
     display: none;
     position: absolute;
     top: 37px;
     z-index: 1;
     width: 94px;
     background: #fff;
     text-align: center;
     border: 1px solid #ebebeb;
     border-top: none;
 }
 .li-first:hover .li-first-a{
     color:#ff852d;
 }
 .li-fourth:hover .nav-ul-second{
     display:block;
 }
 .li-fourth:hover{
     background: #fff;
 } 
 .nav-second-ul{
     display: none;
     position: absolute;
     top: 37px;
     left: 390px;
     z-index: 10;
     width: 895px;
     background: #fff;
     border: 1px solid #f0f0f0;
     border-top: none;
     box-shadow: 0px 1px 2px #ccc;
     padding: 20px 0 35px 54px;
     box-sizing: border-box;
    
 }
 .li-first-bg1{
     background: url(http://basic.juooo.com/Home/web-4.1.1/images/index/icons_03.png) no-repeat;
     display: inline-block;
     width: 8px;
     height: 5px;
     vertical-align: middle;
     margin-left: 4px;
     background-position: -186px -16px;
 }
 .li-first-bg2{
     background: url(http://basic.juooo.com/Home/web-4.1.1/images/index/icons_03.png) no-repeat;
     display: inline-block;
     width: 9px;
     height: 16px;
     vertical-align: text-top;
     margin-right: 4px;
     background-position: -228px -11px;
     
 }
 .second-ul-li1,.second-ul-li2,.second-ul-li3{
     float:left;
 }
 
 h5 a{
     color: #999;
 }
 .ul-li1-left,.ul-li1-center{
     width: 165px;
     height:160px;
     margin-right: 24px;
     border-right:1px solid #ddd
 }
 .ul-li-left-a{
     display: inline-block;
     vertical-align: top;
     width: 70px;
     margin-right: 7px;
     font-size: 12px;
     color: #666;
     line-height: 32px;
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
 }
 .ul-li-left-a:hover{
     color:#ff7919;
 }
 .second-ul-li3{
     width:420px;
     height:421px;
     margin-left:20px;
 }
 .li-first:hover .nav-second-ul{
     display:block;
 }
 .li-last-hover:hover{
     background:#fff;
 }
 .nav-img{
     width:1200px;
     height:80px;
     margin:0 auto;
 }
 .x{
     position: absolute;
     right: 84px;
     top: 37px;
     width: 48px;
     height: 20px;
     line-height: 20px;
     text-align: center;
     background-color: rgba(127, 127, 127, 0.6);
 }
 .x-a{
     font-size: 11px;
     color: #fff;
 }
 /* search */
 .search{
     width:1200px;
     height:175px;
     margin:0 auto;
 }
 .search-top{
     height:130px;
     
 }
 .location-img{
     padding-top:37px;
     float: left;
 }
 .location{
     width:175px;
     padding-top:46px;
     margin-left:33px;
     float:left;
 }
 .location-top-a{
     font-size:14px;
     color:#333;
 }
 .sanjiao{
     background: url(http://basic.juooo.com/Home/web-4.1.1/images/index/icons_03.png) no-repeat;
     display: inline-block;
     width: 9px;
     height: 5px;
     background-position: -112px -19px;
     vertical-align: middle;
     margin-left: 5px;
 }
 .location-down-pic{
     background: url(http://basic.juooo.com/Home/web-4.1.1/images/index/icons_03.png) no-repeat;
     display: inline-block;
 
     width: 8px;
     height: 11px;
     background-position: -85px -13px;
     margin-right: 2px;
 }
 .location-down{
     width:94px;
     height:25px;
     padding:0 6px;
     box-sizing: border-box;
     border: 1px solid #ebebeb;
 }
 .location-down-a{
     
     font-size: 10px;
     color: #b3b3b3;
 }
 ._search{
     width:500px;
     padding-top:36px;
     float:left;
 }
 .-search-top{
     width:486px;
     height:36px;
     border: 2px solid #ff7919;
 }
 .search-input{
     width:394px;
     height:36px;
     border:none;
     outline:none;
     float:left;
     padding-left:10px;
     box-sizing: border-box;
 }
 .search-sea{
     width:60px;
     height:36px;
     background: #ff7919;
     padding:10px 20px;
     box-sizing: border-box;
     float:right;
 }
 .search-s{
     background: url(http://basic.juooo.com/Home/web-4.1.1/images/index/icons_03.png) no-repeat;
     display: inline-block;
     width: 20px;
     height: 20px;
     
     background-position: -136px -8px;
     
 }
 .-search-down{
     width:516px;
     height:16px;
 }
 .-search-down-a{
     font-size:12px;
     color:#b3b3b3;
     margin-right:10px;
 }
 .search-down-a:hover{
     color:#ff7919
 }
 .-search-down-a:hover{
     color:#ff7919;
 }
 .search-down{
     height:45px;
     line-height:45px;
 }
 .goods{
     display:inline-block;
     width:180px;
     height:45px;
     background: #ff7919;
     color:#fff;
     font-size:14px;
     text-align:center;
     margin-right:40px;
 }
 .search-down-a{
     font-size: 16px;
     font-weight: bold;
     color: #1a1a1a;
     margin-right:40px;
 }
 .search-dowm-img{
     height:42px;
     float:right;
 }
 /* 渲染区 */
 
 .render{
    background: #f7f7f7;
    padding-top:20px;
    padding-bottom: 10px;
    box-sizing: border-box;
 }
 .render-ul{
    width:1200px;
    margin:0 auto;
    background: #fff;
    
 }
 .render-li{
    padding: 25px 270px 25px 17px;
    /* width: 1000px; */
    box-sizing: border-box;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
 }
 .render-li-left{
     float:left;
     margin-right:20px;
 }
 .render-img{
     width:154px;
     height:204px;
 }
 .render-li-center{
    width:488px;
    float: left;
    margin-right:20px;
 }
 .render-center-p{
    margin-bottom: 20px;
    padding-top: 15px;
    box-sizing: border-box;
    font-weight: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
 }
 .render-center-a{
     font-size:16px;
     color:#333;
 }
 .render-center-p2{
     font-size: 14px;
     color:#999;
     margin-bottom:20px;
 }
 .render-center-span2{
    font-size: 18px;
    color: #f96c02;
 }
 .render-li-right{
    float:left;
    padding-top:80px;
    box-sizing: border-box;
 }
 .render-right-span1{
    display: inline-block;
    width: 119px;
    height: 34px;
    line-height:34px;
    text-align: center;
    font-size: 15px;
    color:#fff;
    background: #fe5d36;
    border-radius: 5px;
    margin-right:10px;
 }
 .render-right-span2{
    display: inline-block;
    width: 79px;
    height: 34px;
    line-height:34px;
    text-align: center;
    border:1px solid #ebebeb;
    border-radius: 5px;
 }
 /* 关于我们 */
.us{
    width:100%;
    background: #fff;
    border-top: 2px solid #f5f5f5;
    padding:20px 0 26px;
    box-sizing: border-box;
}
.us-little{
    width:1200px;
    margin: 0 auto;
}
.us-left{
    width:310px;
    padding-top:20px;
    box-sizing: border-box;
    border-right:1px solid #f1f1f1;
    float:left;
}
.us-left-p1{
    font-size: 16px;
    color: #333;
    margin-bottom: 28px;
}
.us-left-p2{
    margin-bottom: 17px;
}
.us-left-a{
    font-size: 12px;
    color:#666;
    margin-right: 35px;
}
.us-left-a:hover{
    color:#ff7919;
}
.us-center{
    width:500px;
    padding-top:20px;
    box-sizing: border-box;
    border-right:1px solid #f1f1f1;
    float:left;
    text-align: center;
}
.us-center-p1{
    font-size: 24px;
    color: #ff7919;
    margin-bottom: 25px;
}
.us-center-p2{
    margin-left:40px;
}
.us-center-p3{
    margin-left:15px;
}
.us-right{
    padding-top:20px;
    box-sizing: border-box;
    float:right;
}
.ticket{
    float:left;
}
.show{
    margin-left:70px;
}
._ticket{
    margin-left:5px;
}
.ticket-p{
    font-size: 12px;
    color:#666;
    margin-right: 35px;
    margin-left:20px;
}
/* footer */
.footer{
    width:100%;
    padding-bottom:18px;
    background: #f7f7f7;
}
.footer-little{
    width:940px;
    margin:0 auto;
}
.footer-top{
    padding:23px 0;
    box-sizing: border-box;
    text-align: center;
}
.footer-top-span{
    font-size: 12px;
    color:#999;
}
.footer-span-a{
    font-size: 12px;
    color:#666;
    padding:0 10px;
}
.footer-span-a:hover{
    color:#ff7919;
}
.footer-span-a2{
    border:1px solid #dadada;
    border-top:none;
    border-bottom:none;
}
.footer-center1{
    float:left;
    border-right:1px solid #dadada;
    margin-bottom: 22px;
}
.footer-center1-span{
    display:inline-block;
    width:48px;
    height:28px;
    font-size: 12px;
    color:#666;
    margin:0 15px;
}
.footer-center-i{
    display:inline-block;
    width: 33px;
    height:33px;
    background:url(../images/icons_03.png);
    vertical-align: middle;
    margin-top:-10px;
    margin-right:15px;
}
.footer-center-i1{
    background-position: -311px -201px;
}
.footer-center-i2{
    background-position: -85px -201px;
}
.footer-center-i3{
    background-position: -178px -201px;
}
.footer-center-i4{
    background-position:-229px -201px;
}
.footer-center-i5{
    background-position:-129px -201px;
}
.footer-center-i6{
    background-position:-85px -242px;
}
.footer-center-i7{
    background-position:-302px -242px;
}
.footer-center-i8{
    background-position:-155px -242px;
}
.footer-center-i9{
    background-position:-196px -276px;
}.footer-center-i10{
    background-position:-196px -276px;;
}
.footer-center-i11{
    width:44px;
    height:32px;
    background-position:-256px -276px;
}
.footer-center-i12{
    background-position:-352px -200px;
    width:50px;
    height:32px;
}
.footer-centerlast{
    border-right:none;
}
.footer-span-ab{
    border:1px solid #dadada;
    border-top:none;
    border-bottom:none;
}
.footer-span-ablast{
    border-right:none;
}
.footer-down{
    margin-bottom: 8px;
    text-align: center;
}
.footer-down2{
    text-align: center;
    margin-bottom:12px;
}
.footer-down2-span{
    font-size: 12px;
    color: #bdbdbd;
}
.footer-down2-i{
    display:inline-block;
    width: 18px;
    height: 20px;
    background:url(../images/icons_03.png);
    background-position: -282px -141px;
    margin:0 5px;
    vertical-align: middle;
}
.footer-last{
    text-align: center;
}
.footer-last-i{
    background:url(../images/icons_03.png);
    display: inline-block;
    width: 84px;
    height: 35px;
}
.footer-last-i1{
    background-position: -89px -133px;
    margin-right:10px;
}
.footer-last-i2{
    background-position: -182px -133px;
}